body {
    display: flex;
    flex-direction: column;
    background-image: url("Mental Machinery.png.jpg");
    background-size: cover;
}
.gameText {
    color: whitesmoke;

}

#resultText{
    color: aqua;
}

#gameDiv {
    font-family: "Droid Sans Mono", cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    backdrop-filter: blur(10px)

}
#buttons{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: fuchsia;
    border: 5px double black;


}
.choiceBtn{
    line-height: 60px;
    width: 250px;
    padding: 10px;
    margin: 40px;
    font-size: large;
    background: lemonchiffon;
    border: solid  black 5px;

}
#scoreAndReset{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px)
}
#score{
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    gap: 100px;

}
.Reset{
    font-size: larger;
    width: 150px;
    height: 60px;
    border: double ghostwhite 10px;
    color: whitesmoke;
    background: red;
}
#score{
    font-family: "DejaVu Sans Mono" , cursive;

}
.gameText{
    opacity: 100%;
}


